@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #dde2f9;
}

/* menuList====== */

.menuList li {
  position: relative;
}

.menuList li::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: #ec6c41;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s linear;
}

.menuList li:hover::after {
  width: 100%;
  right: 0;
}

/* searchForm */
